<wen-content>
  <h1 i18n class="flex items-end mt-0 lg:mt-12">
    {{(token$ | async)?.symbol | uppercase}} Staking
  </h1>

  <div class="my-6 lg:my-10">
    <div class="flex flex-col lg:flex-row lg:w-auto">
      <div class="flex flex-col-reverse w-full h-auto lg:flex-col lg:w-1/2 grow">
        <article
          class="flex flex-col h-full lg:mr-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark lg:flex-row rounded-large"
        >
          <div class="relative flex flex-col w-full p-6 lg:h-full lg:p-10 grow">
            <h5 class="flex flex-col justify-end mb-4 grow" i18n>How much I earn?</h5>

            <div>
              <div>
                <div
                  class="mt-6 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                  i18n
                >
                  How much {{(token$ | async)?.symbol | uppercase}} you want to stake?
                </div>
                <div class="relative flex items-center justify-between w-full mt-1.5">
                  <input
                    class="w-full no-arrows"
                    type="number"
                    step="any"
                    [placeholder]="'0'"
                    [formControl]="amountControl"
                    nz-input
                    nzSize="large"
                  />
                  <div class="absolute flex flex-col items-end -translate-y-1/2 right-5 top-1/2">
                    <div class="flex items-center">
                      <nz-avatar
                        [nzSrc]="previewImageService.getTokenSize((token$ | async)?.icon)"
                        [nzSize]="24"
                        class="wen-avatar-background min-w-6 min-h-6"
                        nzShape="circle"
                      >
                      </nz-avatar>
                      <div
                        class="ml-2 font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                      >
                        {{(token$ | async)?.symbol | uppercase}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="mt-6 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                  i18n
                >
                  For how long you want to stake?
                </div>
                <nz-select
                  nzSize="large"
                  class="relative flex items-center justify-between w-full mt-1.5"
                  [formControl]="weekControl"
                >
                  <nz-option
                    *ngFor="let w of weeks"
                    i18n-nzLabel
                    [nzLabel]="w + (w === 1 ? ' week' : ' weeks')"
                    [nzValue]="w"
                  ></nz-option>
                </nz-select>
              </div>

              <div class="flex space-x-4">
                <div class="grow">
                  <div
                    class="mt-5 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                  >
                    Rewards Multiplier
                  </div>
                  <div
                    class="relative flex items-center justify-between w-full px-6 py-4 mt-2 border rounded-3xl bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark min-h-14"
                  >
                    <div class="font-medium">
                      <span *ngIf="multiplierControl.value >= 1"
                        >{{multiplierControl.value | number: '1.0-2'}}x</span
                      >
                      <span *ngIf="!multiplierControl.value">-</span>
                      <span
                        class="ml-1 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                        i18n
                      >
                      </span>
                    </div>
                  </div>
                </div>

                <div class="grow">
                  <div
                    class="flex mt-5 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                  >
                    Possible Staking Value
                    <wen-icon-question-circle
                      [size]="16"
                      class="ml-2 text-icons-secondary dark:text-icons-secondary-dark"
                      nz-tooltip
                      i18n-nzTooltipTitle
                      nzTooltipTitle="Staked amount * Rewards Multiplier"
                    ></wen-icon-question-circle>
                  </div>
                  <div
                    class="relative flex items-center justify-between w-full px-6 py-4 mt-2 border rounded-3xl bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark min-h-14"
                  >
                    <div class="font-medium">
                      <b>{{ stakeControl.value | number: '1.0-2' }}</b>
                      <span
                        class="ml-1 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                        i18n
                      >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      <article
        class="flex flex-col mt-6 lg:w-1/2 lg:ml-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-large lg:mt-0"
      >
        <div
          class="relative px-5 py-16 space-y-12 text-center h-3/5 lg:pt-10 lg:px-10 lg:pb-0 lg:space-y-6"
        >
          <h3 class="mb-1 text-3xl" i18n>How it works?</h3>
          <p class="text-base font-medium lg:mb-0 lg:px-16 lg:text-lg" i18n>
            Stake your {{(token$ | async)?.symbol | uppercase}} tokens to earn rewards and unlock
            new features.
          </p>
        </div>
        <div class="relative p-8 overflow-hidden lg:h-full rounded-large">
          <img
            alt=""
            src="/assets/mocks/soon_staking.png"
            class="object-cover w-full h-full rounded-2xl"
          />
        </div>
      </article>
    </div>
  </div>

  <button nz-button nzType="primary" nzSize="large" (click)="submit()" nzBlock>
    <span *ngIf="!amountControl.value">Start Staking</span>
    <span *ngIf="amountControl.value"
      >Stake {{ { value: amountControl.value, exponents: (token$ | async)?.decimals} | formatToken:
      (token$ | async)?.uid:true:false:2|async}} {{(token$ | async)?.symbol | uppercase}}</span
    >
  </button>
  <div class="mt-10 lg:mt-16" *ngIf="isSoonSpace() | async">
    <h3 i18n>Unique Perks for stakers</h3>
    <div class="flex flex-col space-y-6 lg:space-x-10 lg:space-y-0 lg:flex-row">
      <article
        class="flex flex-col lg:w-1/3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark lg:flex-row rounded-large"
      >
        <div class="relative flex flex-col w-full p-6 space-y-6 lg:h-full lg:p-10 grow">
          <h4 class="flex flex-col justify-end mb-4 text-center grow" i18n>
            {{(token$ | async)?.symbol | uppercase}} Rewards
          </h4>
          <p
            class="flex flex-col items-center text-lg font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark grow"
          >
            {{(token$ | async)?.symbol | uppercase}} token rewards will be provided every week.
          </p>
        </div>
      </article>
      <article
        class="flex flex-col lg:mx-3 lg:w-1/3 lg:mx-6 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark lg:flex-row rounded-large"
      >
        <div class="relative flex flex-col w-full p-6 space-y-6 lg:h-full lg:p-10 grow">
          <h4 class="flex flex-col justify-end mb-4 text-center grow" i18n>Trading Bonuses</h4>
          <p
            class="flex flex-col items-center text-lg font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark grow"
          >
            You choose how long you wont to lock your token/s. You get more rewards the longer you
            stake your token/s.
          </p>
        </div>
      </article>
      <article
        class="flex flex-col lg:w-1/3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark lg:flex-row rounded-large"
      >
        <div class="relative flex flex-col w-full p-6 space-y-6 lg:h-full lg:p-10 grow">
          <h4 class="flex flex-col justify-end mb-4 text-center grow" i18n>Unique Features</h4>
          <p
            class="flex flex-col items-center text-lg font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark grow"
          >
            We don't own your token/s, you do. Tokens are only locked for a select period of time.
          </p>
        </div>
      </article>
    </div>
  </div>

  <div
    class="relative z-0 px-6 py-6 mt-8 mb-8 overflow-scroll lg:mb-12 lg:overflow-auto y-4 lg:py-6 lg:px-8 lg:mt-12 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-large"
    *ngIf="isSoonSpace() | async"
  >
    <h3>
      <span i18n>Earn more {{(token$ | async)?.symbol | uppercase}}er than you think</span>
      <p
        i18n
        class="text-base font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
      >
        The more {{(token$ | async)?.symbol | uppercase}} you hold, the more rewards you get.
      </p>
    </h3>
    <nz-table
      #basicTable
      [nzData]="listOfData"
      [nzFrontPagination]="false"
      [ngClass]="{
      'table-dark': (themeService.theme$ | async) === themes.Dark,
      'table-light': (themeService.theme$ | async) === themes.Light}"
    >
      <thead>
        <tr class="relative z-0">
          <th nzWidth="20%">Category</th>
          <th nzWidth="20%">Level</th>
          <th nzWidth="10%">0</th>
          <th [ngClass]="(getLevelClass(1) | async)" nzWidth="10%">1</th>
          <th [ngClass]="(getLevelClass(2) | async)" nzWidth="10%">2</th>
          <th [ngClass]="(getLevelClass(3) | async)" nzWidth="10%">3</th>
          <th [ngClass]="(getLevelClass(4) | async)" nzWidth="10%">4</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <ng-container *ngIf="data.key !== '1'">
            <td>{{data.category}}</td>
            <td>{{data.category_extra}}</td>
            <td>{{data.level0}}</td>
            <td [ngClass]="(getLevelClass(1) | async)">{{data.level1}}</td>
            <td [ngClass]="(getLevelClass(2) | async)">{{data.level2}}</td>
            <td [ngClass]="(getLevelClass(3) | async)">{{data.level3}}</td>
            <td [ngClass]="(getLevelClass(4) | async)">{{data.level4}}</td>
          </ng-container>
          <ng-container *ngIf="data.key === '1'">
            <td>{{data.category}}</td>
            <td>{{data.category_extra}}</td>
            <td>
              {{(pInt(data.level0) | formatToken: (token$ | async)?.uid:false:false:0 | async)}}
            </td>
            <td [ngClass]="(getLevelClass(1) | async)">
              {{(pInt(data.level1) | formatToken: (token$ | async)?.uid:false:false:0 | async)}}
            </td>
            <td [ngClass]="(getLevelClass(2) | async)">
              {{(pInt(data.level2) | formatToken: (token$ | async)?.uid:false:false:0 | async)}}
            </td>
            <td [ngClass]="(getLevelClass(3) | async)">
              {{(pInt(data.level3) | formatToken: (token$ | async)?.uid:false:false:0 | async)}}
            </td>
            <td [ngClass]="(getLevelClass(4) | async)">
              {{(pInt(data.level4) | formatToken: (token$ | async)?.uid:false:false:0 | async)}}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <wen-token-stake
    *ngIf="!!openTokenStake && (token$ | async)"
    [isOpen]="!!openTokenStake"
    [token]="(token$ | async)!"
    [tokenStats]="tokenStats$ | async"
    [rewards]="stakeRewards$ | async"
    [amount]="amountControl.value"
    [weeks]="weekControl.value"
    (wenOnClose)="openTokenStake = false"
  ></wen-token-stake>
</wen-content>
