<ais-instantsearch *ngIf="config" [config]="config">
  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="[]" [reset$]="reset$"></wen-search-box>
    </div>
  </header>

  <div class="relative mt-11 lg:mt-10 flex justify-between items-center">
    <div>
      <ais-stats data-layout="mobile">
        <ng-template let-state="state">
          <div class="flex items-center space-x-2">
            <span
              class="font-medium ais-Stats-text text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
            >
              {{ state.nbHits | number }} <ng-container i18n>records</ng-container>
            </span>
            <div class="flex-1 w-72">
              <nz-slider
                *ngIf="availableNftsCount !== null && availableNftsCount > 1"
                [(ngModel)]="sweepCount"
                [nzMin]="1"
                [nzMax]="availableNftsCount > 20 ? 20 : availableNftsCount"
                [nzStep]="1"
                [nzTipFormatter]="null"
              ></nz-slider>
              <!--<nz-slider *ngIf="sliderCalcMaxValueIsKnown" [(ngModel)]="sweepCount" [nzMin]="1" [nzMax]="sliderCalcMaxValue" [nzStep]="1" [nzTipFormatter]="null"></nz-slider>-->
            </div>
            <span class="w-12 text-center font-bold">{{ sweepCount }}</span>
            <button nz-button nzType="primary" nzSize="small" (click)="sweepToCart(sweepCount)">
              Sweep to Cart
            </button>
          </div>
        </ng-template>
      </ais-stats>
    </div>

    <button
      class="wen-secondary"
      nz-button
      nzSize="small"
      (click)="filterStorageService.marketNftsFiltersVisible$.next(!filterStorageService.marketNftsFiltersVisible$.value)"
    >
      <wen-icon-collapse-arrow
        *ngIf="deviceService.isDesktop$ | async"
        [size]="16"
        class="mr-1 transition-all"
        [ngClass]="{ 'rotate-180': (filterStorageService.marketNftsFiltersVisible$ | async) === false}"
      ></wen-icon-collapse-arrow>
      <div i18n>Filters&Sort</div>
    </button>
  </div>

  <main class="flex justify-between mx-auto">
    <section
      class="container-results"
      [ngClass]="{ 'mr-5': filterStorageService.marketNftsFiltersVisible$ | async }"
    >
      <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
        <ng-template let-hits="hits" let-results="results" let-refine="showMore">
          <div class="mt-6 xl:grid place-items-start">
            <div class="mb-10 wen-cards-wrapper">
              <wen-nft-card
                class="w-full h-full outline-none"
                *ngFor="let hit of hits; trackBy: trackByUid"
                [nft]="hit"
                [collection]="cacheService.getCollection(hit.collection) | async"
              >
              </wen-nft-card>
              <div (wenVisible)="refine()"></div>
            </div>
          </div>
        </ng-template>
      </ais-infinite-hits>
    </section>

    <div
      class="overflow-hidden transition-all -translate-y-5 container-filters"
      *ngIf="(deviceService.isMobile$ | async) !== true"
      [ngClass]="(filterStorageService.marketNftsFiltersVisible$ | async) ? 'max-w-screen-2xl ml-6' : 'max-w-0'"
    >
      <div class="mb-12"></div>

      <ng-container *ngTemplateOutlet="filters"></ng-container>
    </div>

    <wen-drawer
      *ngIf="deviceService.isMobile$ | async"
      [isVisible]="filterStorageService.marketNftsFiltersVisible$ | async"
      bodyClasses="overflow-auto p-5"
    >
      <div class="pb-4 text-3xl font-bold" i18n>Filters&sort</div>
      <button
        class="absolute right-4 z-10 top-4"
        (click)="filterStorageService.marketNftsFiltersVisible$.next(false)"
      >
        <wen-icon-close></wen-icon-close>
      </button>

      <ng-container *ngTemplateOutlet="filters"></ng-container>
    </wen-drawer>

    <ng-template #filters>
      <div class="mt-8 container-body lg:mt-6">
        <wen-algolia-checkbox
          class="hidden"
          attribute="collection"
          [value]="(filterStorageService.memberNftsFitlers$ | async)?.refinementList?.collection"
        >
        </wen-algolia-checkbox>
        <wen-collapse
          i18n-title
          title="Sort by"
          class="mb-2 transition-all"
          [isCollapsed]="false"
          [type]="collapseTypes.UNDERLINE"
          (wenOnCollapse)="sortOpen = !$event"
          [ngClass]="{ 'mb-10': sortOpen }"
        >
          <wen-sort-by
            [items]="filterStorageService.marketNftsFiltersOptions.sortItems"
            [value]="(filterStorageService.marketNftsFilters$ | async)?.sortBy"
            (wenChange)="filterStorageService.marketNftsFilters$.next(
                { sortBy: $event, refinementList: filterStorageService.marketNftsFilters$.value.refinementList }
              )"
          ></wen-sort-by>
        </wen-collapse>
        <wen-collapse
          i18n-title
          title="Status"
          class="mb-2 transition-all"
          [isCollapsed]="false"
          [type]="collapseTypes.UNDERLINE"
          (wenOnCollapse)="statusFilterOpen = !$event"
          [ngClass]="{ 'mb-10': statusFilterOpen }"
        >
          <wen-algolia-checkbox
            attribute="available"
            [transformItems]="algoliaService.convertNftAvailable"
            [reset$]="reset$"
            [value]="(filterStorageService.marketNftsFilters$ | async)?.refinementList?.available"
            (wenChange)="filterStorageService.marketNftsFilters$.next(
                { sortBy: filterStorageService.marketNftsFilters$.value.sortBy,
                  refinementList: { space: filterStorageService.marketNftsFilters$.value.refinementList?.space, available: $event } }
              )"
          >
          </wen-algolia-checkbox>
        </wen-collapse>
        <wen-collapse
          class="mb-2 transition-all"
          i18n-title
          title="Price range"
          [isCollapsed]="true"
          [type]="collapseTypes.UNDERLINE"
          (wenOnCollapse)="priceFilterOpen = !$event"
          [ngClass]="{ 'mb-10': priceFilterOpen || (deviceService.isMobile$ | async) }"
        >
          <wen-algolia-range
            class="w-11/12 mx-auto"
            attribute="availablePrice"
            [reset$]="reset$"
            [value]="(filterStorageService.marketNftsFilters$ | async)?.range?.availablePrice"
            (wenChange)="filterStorageService.marketNftsFilters$.next(
                {
                  sortBy: filterStorageService.marketNftsFilters$.value.sortBy,
                  refinementList: filterStorageService.marketNftsFilters$.value.refinementList,
                  range: {
                    availablePrice: $event
                  }
                }
              )"
          >
          </wen-algolia-range>
        </wen-collapse>

        <div></div>
      </div>
    </ng-template>
  </main>
</ais-instantsearch>
