{
  "root": true,
  "overrides": [
    {
      "files": ["*.js"],
      "parserOptions": {
        "ecmaVersion": 2018
      }
    },
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["tsconfig.app.json"],
        "createDefaultProgram": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "google",
        "plugin:@angular-eslint/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        }
      },
      "rules": {
        "@angular-eslint/component-class-suffix": [
          "error",
          {
            "suffixes": ["Component", "Page"]
          }
        ],
        "@angular-eslint/directive-selector": [
          "error",
          { "type": "attribute", "prefix": "wen", "style": "camelCase" }
        ],
        "@angular-eslint/component-selector": [
          "error",
          { "type": "element", "prefix": "wen", "style": "kebab-case" }
        ],
        "@angular-eslint/contextual-decorator": [2],
        "@angular-eslint/contextual-lifecycle": [2],
        "@angular-eslint/no-attribute-decorator": [2],
        "@angular-eslint/no-lifecycle-call": [2],
        "@angular-eslint/no-output-native": [2],
        "@angular-eslint/prefer-on-push-component-change-detection": [2],
        "@angular-eslint/use-injectable-provided-in": [2],
        "@angular-eslint/use-lifecycle-interface": [2],
        "new-cap": [
          "error",
          {
            "capIsNew": true,
            "capIsNewExceptions": [
              "UntilDestroy",
              "Directive",
              "HostBinding",
              "HostListener",
              "Injectable",
              "Input",
              "NgModule",
              "Output",
              "Pipe",
              "ViewChild",
              "ViewChildren",
              "Component",
              "Inject",
              "MockComponent",
              "MockProvider",
              "MockModule"
            ],
            "newIsCap": true,
            "properties": true
          }
        ],
        "@typescript-eslint/no-explicit-any": 1,
        "@typescript-eslint/no-non-null-assertion": 0,
        "import/no-unresolved": 0,
        "valid-jsdoc": 0,
        "indent": 0,
        "no-invalid-this": 2,
        "use-isnan": 2,
        "@typescript-eslint/await-thenable": 2,
        "@typescript-eslint/no-misused-new": 2,
        "@typescript-eslint/no-use-before-define": 2,
        "keyword-spacing": 0,
        "space-before-blocks": 2,
        "space-before-function-paren": 0,
        "@typescript-eslint/type-annotation-spacing": 2,
        "comma-spacing": 2,
        "quotes": [2, "single", { "allowTemplateLiterals": true }],
        "no-multi-spaces": 2,
        "no-multiple-empty-lines": 2,
        "@typescript-eslint/prefer-enum-initializers": 2,
        "@typescript-eslint/member-delimiter-style": 2,
        "@typescript-eslint/ban-ts-comment": 1,
        // "@typescript-eslint/member-ordering": 2,
        // "@typescript-eslint/restrict-plus-operands": 2,
        // "@typescript-eslint/no-unnecessary-condition": 2,
        // Disabled for now.
        "require-jsdoc": 0 // ["error", {
        //   "require": {
        //       "FunctionDeclaration": true,
        //       "MethodDefinition": true,
        //       "ClassDeclaration": true,
        //       "ArrowFunctionExpression": true,
        //       "FunctionExpression": true
        //   }
        // }]
      }
    },
    {
      "files": ["*.html"],
      "extends": ["plugin:@angular-eslint/template/recommended"]
    },
    {
      "files": ["*.component.ts"],
      "extends": ["plugin:@angular-eslint/template/process-inline-templates"]
    }
  ]
}
