.nft-row {
  padding-bottom: 2px;
}

.ant-modal-header {
  background-color: var(--bg-backgrounds-primary-dark) !important;
  color: var(--text-foregrounds-primary-dark) !important;
  font-size: '100px';
}
