<nz-card i18n-nzTitle nzTitle="Award Info" class="block">
  <wen-description
    [items]="[
      {
        title: descriptionTitles[0],
        value: (data.award$ | async)?.issued + ' / ' + (data.award$ | async)?.badge?.total
      },
      {
        title: descriptionTitles[1],
        value: ((data.award$ | async)?.endDate?.toDate() | date : 'short') || ''
      },
      {
        title: descriptionTitles[2],
        value: getDuration((data.award$ | async)?.badge?.lockTime || 0)
      }
    ]"
  ></wen-description>
</nz-card>

<nz-card i18n-nzTitle nzTitle="Owner" class="block">
  <div
    *ngFor="let g of data.owners$ | async; trackBy: trackByUid"
    [routerLink]="['/', 'member', g.uid]"
    class="cursor-pointer"
  >
    <nz-avatar nzIcon="user" [nzSrc]="g?.avatar | resizeAvatar : filesizes.small" class="mr-2">
    </nz-avatar>
    <span>@{{ g.name || g.uid | truncate : [16] }}</span>
  </div>
</nz-card>
