<div class="space-y-12">
  <div class="space-y-4">
    <div class="inline-flex justify-between w-full">
      <div class="flex items-center">
        <ng-container *ngIf="deviceService.isDesktop$ | async; else hotTagsMobileBlock">
          <nz-tag
            *ngFor="let tag of hotTags"
            nzMode="checkable"
            [nzChecked]="selectedListControl.value === tag.value"
            (nzCheckedChange)="handleFilterChange(tag.value)"
          >
            {{ tag.label }}
          </nz-tag>
        </ng-container>

        <ng-template #hotTagsMobileBlock>
          <nz-select
            class="w-fit wen-sort-button min-w-32"
            [ngModel]="selectedListControl.value"
            (ngModelChange)="handleFilterChange($event)"
          >
            <nz-option
              *ngFor="let tag of hotTags"
              [nzLabel]="tag.label"
              [nzValue]="tag.value"
            ></nz-option>
          </nz-select>
        </ng-template>
      </div>

      <button
        nz-button
        class="bg-buttons-primary-enabled dark:bg-buttons-primary-enabled-dark border-buttons-primary-enabled dark:border-buttons-primary-enabled-dark hover:bg-buttons-primary-on-hover dark:bg-buttons-primary-on-hover-dark hover:border-buttons-primary-on-hover dark:border-buttons-primary-on-hover-dark"
        nzType="primary"
        nzSize="default"
        type="button"
        (click)="create()"
        *ngIf="data.isMemberWithinSpace$ | async"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        <span>
          <span i18n>New </span>
          <ng-container *ngIf="(deviceService.isDesktop$ | async)" i18n>proposal</ng-container>
        </span>
      </button>
    </div>

    <nz-skeleton
      *ngIf="data.isLoading(getList() | async)"
      class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl"
      [nzActive]="true"
      [nzAvatar]="{ size: 'default' }"
      [nzParagraph]="{ rows: 1, width: 100 }"
    ></nz-skeleton>

    <nz-card class="w-full" *ngIf="data.isEmpty(getList() | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span
          class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
          i18n
        >
          No Proposals
        </span>
      </div>
    </nz-card>

    <wen-proposal-card
      class="block"
      [fullWidth]="true"
      *ngFor="let proposal of getList() | async; trackBy: trackByUid"
      [proposal]="proposal"
    >
    </wen-proposal-card>
  </div>
</div>
