<nz-tag
  class="wen-status-tag bg-tags-available dark:bg-tags-available-dark border-tags-available dark:border-tags-available-dark text-foregrounds-primary dark:text-foregrounds-primary-dark"
  *ngIf="!award?.approved && !award?.rejected"
  i18n
  >Pending Funding
</nz-tag>
<nz-tag
  class="wen-status-tag bg-tags-closed dark:bg-tags-closed-dark border-tags-closed dark:border-tags-closed-dark text-foregrounds-primary dark:text-foregrounds-primary-dark"
  *ngIf="award?.rejected"
  i18n
  >Rejected
</nz-tag>
<nz-tag
  class="wen-status-tag bg-tags-closed dark:bg-tags-closed-dark border-tags-closed dark:border-tags-closed-dark text-foregrounds-primary dark:text-foregrounds-primary-dark"
  *ngIf="helper.isCompleted(award)"
  i18n
  >Completed</nz-tag
>
<nz-tag
  class="wen-status-tag bg-tags-available dark:bg-tags-available-dark border-tags-available dark:border-tags-available-dark text-foregrounds-primary dark:text-foregrounds-primary-dark"
  *ngIf="!helper.isCompleted(award) && award?.approved"
  i18n
  >Available</nz-tag
>
