<ais-instantsearch [config]="config" class="block w-full">
  <div
    *ngIf="(deviceService.isDesktop$ | async) && limittedView === false"
    class="flex items-center justify-between py-4 px-5"
  >
    <div class="text-lg font-bold mr-10" i18n>Markets</div>
    <div class="flex items-center flex-1">
      <wen-search-box searchSize="default" class="mr-4 flex-1"></wen-search-box>
      <div
        class="cursor-pointer p-2.5 flex items-center justify-center rounded-full border border-inputs-border dark:border-inputs-border-dark"
        (click)="favouritesFilter = !favouritesFilter"
      >
        <wen-icon-favourites [size]="20" [selected]="favouritesFilter"></wen-icon-favourites>
      </div>
    </div>
  </div>

  <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
    <ng-template let-hits="hits" let-results="results" let-refine="showMore">
      <div *ngIf="!favouritesFilter && favouritesOnly === false">
        <wen-token-trading-pair-row
          class="w-full border-t border-foregrounds-separator dark:border-foregrounds-separator-dark"
          *ngFor="let token of hits; trackBy: trackByUid"
          [tokenId]="token.uid"
          [limittedView]="limittedView"
          [isFavourite]="(favourites || []).includes(token.uid)"
          [tableMode]="true"
          (wenOnFavouriteClick)="favouriteClick(token.uid)"
          (wenOnClick)="wenOnClose.emit()"
        >
        </wen-token-trading-pair-row>
        <div (wenVisible)="refine()"></div>
        <div *ngIf="hits.length === 0" class="flex flex-col justify-center text-center h-36">
          <span
            class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
            i18n
          >
            No Tokens
          </span>
        </div>
      </div>
      <div *ngIf="favouritesFilter || favouritesOnly">
        <wen-token-trading-pair-row
          class="w-full border-t border-foregrounds-separator dark:border-foregrounds-separator-dark"
          *ngFor="let tokenId of favourites; trackBy: trackByUid"
          [tokenId]="tokenId"
          [limittedView]="limittedView"
          [isFavourite]="(favourites || []).includes(tokenId)"
          [tableMode]="true"
          (wenOnFavouriteClick)="favouriteClick(tokenId)"
          (wenOnClick)="wenOnClose.emit()"
        >
        </wen-token-trading-pair-row>
      </div>
    </ng-template>
  </ais-infinite-hits>

  <wen-algolia-checkbox
    class="hidden"
    attribute="status"
    [value]="(filterStorageService.tokensTradingPairsFilters$ | async)?.refinementList?.status"
  >
  </wen-algolia-checkbox>
  <ais-toggle class="hidden" attribute="public" [on]="true"></ais-toggle>
</ais-instantsearch>
