.upcoming-wrapper {
  box-shadow: 0px 1px 12px #dceff9;
  border: 2px solid #d0eaf7;
}

.ongoing-wrapper {
  box-shadow: 0px 1px 12px #c4f8d0;
  border: 2px solid #beefc9;
}

.ending-wrapper {
  box-shadow: 0px 1px 12px #f9ded2;
  border: 2px solid #f9d8ca;
}
